[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
redis = "*"
aioredis = "*"
boto3 = "*"
pydantic = "*"
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pydantic-settings = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
